.u-section-1 {
  background-image: linear-gradient(#292c33, #e0e5eb);
}

.u-section-1 .u-sheet-1 {
  min-height: 3497px;
}

.u-section-1 .u-image-1 {
  height: 585px;
  width: 1140px;
  margin: 115px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: 0 auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 2737px;
  pointer-events: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 60px 49px;
}

.u-section-1 .u-text-1 {
  font-size: 2.5rem;
  margin: -10px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-18 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-19 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-20 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-21 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-22 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-23 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-24 {
  margin: 0;
}

.u-section-1 .u-text-25 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-26 {
  margin: 0;
}

.u-section-1 .u-text-27 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-28 {
  margin: 0;
}

.u-section-1 .u-text-29 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-30 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-31 {
  margin: 0;
}

.u-section-1 .u-text-32 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-33 {
  margin: 0;
}

.u-section-1 .u-text-34 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-35 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2915px;
  }

  .u-section-1 .u-image-1 {
    height: 483px;
    width: 940px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -26px;
    margin-bottom: 0;
    margin-left: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 2257px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 808px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-1 .u-image-1 {
    height: 370px;
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -122px;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 40px 30px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 758px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1 .u-image-1 {
    height: 278px;
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -277px;
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-image-1 {
    height: 175px;
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -684px;
    margin-left: 400px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-13 {
    margin-right: 558px;
  }
}